# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.worm battle game.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\ASSETS\Game_Dev\worm battle game\worm battle game\.idea\.idea.worm battle game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
