# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.StreamVersion.iml
# Datasource local storage ignored files
/../../../../../../../../:\ASSETS\Game_Dev\worm battle game\worm battle game\.idea\.idea.StreamVersion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
